%roundBorder4 {
	border-radius: 4px;
}

%solidBorder {
	border-style: solid $i;
}

%widthBorder4 {
	border-width: 4px;
}

%bottomBorder {
	border-bottom-width: 1px;
	@extend %solidBorder;
	@extend %extraSmalltBottomPadding;
	border-color: #636363;
}