%largeRightMargin {
	margin-right: 1em;
}
%extraLargeRightMargin {
	margin-right: 2em;
}
%defaultRightMargin {
	margin-right: 0.5em;
}

%refusedTopMargin {
	margin-top: 0.5em;
}
%defaultTopMargin {
	margin-top: 1em;
}

%increasedTopMargin {
	margin-top: 1.5em;
}

%zeroMargins {
	margin: 0;
}

%largeTopMargin {
	margin-top: 2em;
}
%bigTopMargin {
	margin-top: 2.5em;
}

%extraBigTopMargin {
	margin-top: 3em;
}

%leftMargin27 {
	margin-left: 27%;
}

%largeBottomMargin {
	margin-bottom: 2em;
}