%visible- {
	&lg, &md, &sm, &xs, &xxs {
		display: none;		
	}
	&lg {
		@include breakpoint($lg) {
			display: block;
		}
	}
	&md {
		@include breakpoint($md) {
			display: block;
		}
	}
	&sm {
		@include breakpoint($sm) {
			display: block;
		}
	}
	&xs {
		@include breakpoint($xs) {
			display: block;
		}
	}
	&xss {
		@include breakpoint($xxs) {
			display: block;
		}
	}
}

%zeroOpacity {
	opacity: 0;
}

%fullOpacity {
	opacity: 1;
}

