.navigation__closeMenuButton, .navigation__openMenuButton {
	position: absolute;
  	color: $white;
}

.navigation__openMenuButton {
  top: 6px;
  left: 19px;
  background-color: transparent;
}

.navigation__closeMenuButton {
	display: none;
	top: 15px;
	right: 15px;
}