nav.navContent__navigation.navigation.collapse.navbar-collapse#collapsable(role="navigation")
  ul#nav.navigation__navList.navList.nav.navbar-nav.navbar-right
    li#home.navList__navItem.navItem.active
      a.navItem__refer(href="index.html")
        .navItem__icon
          i.fa.fa-home.fa-2x(aria-hidden="true")
        | Главная
    li#catalog.navList__navItem.navItem
      a.navItem__refer(href="/snippets/categories-snippet/categories-snippet.html")
        .navItem__icon
          i.navItem__icon.fa.fa-book.fa-2x(aria-hidden="true")
        | каталог
    li#service.navList__navItem.navItem
      a.navItem__refer(href="#")
        .navItem__icon
          i.navItem__icon.fa.fa-suitcase.fa-2x(aria-hidden="true")
        | сервис
    li#contacts.navList__navItem.navItem
      a.navItem__refer(href="/snippets/contacts-snippet/contacts-snippet.html")
        .navItem__icon
          i.navItem__icon.fa.fa-info-circle.fa-2x(aria-hidden="true")
        | контакты
    li#projects.navList__navItem.navItem
      a.navItem__refer(href="#")
        .navItem__icon
          i.navItem__icon.fa.fa-certificate.fa-2x(aria-hidden="true")
        | Проекты
a#btnTop.navigation__btnTop(href="#header") Наверх