.navContent__navigation.navigation.collapse.navbar-collapse#collapsable(role="navigation").ag.ag6
  ul.navigation__navList.navList.nav.navbar-nav
    li.navList__navItem.navItem.active
      a.navItem__refer(href="#")
        .navItem__icon
          i.fa.fa-certificate.fa-2x(aria-hidden="true")
        Главная
    li.navList__navItem.navItem
      a.navItem__refer(href="#")
        .navItem__icon
          i.navItem__icon.fa.fa-certificate.fa-2x(aria-hidden="true")
        каталог
    li.navList__navItem.navItem
      a.navItem__refer(href="#")
        .navItem__icon
          i.navItem__icon.fa.fa-certificate.fa-2x(aria-hidden="true")
        сервис
    li.navList__navItem.navItem
      a.navItem__refer(href="#")
        .navItem__icon
          i.navItem__icon.fa.fa-certificate.fa-2x(aria-hidden="true")
        контакты
    li.navList__navItem.navItem
      a.navItem__refer(href="#")
        .navItem__icon
          i.navItem__icon.fa.fa-certificate.fa-2x(aria-hidden="true")
        Проекты