.navigation.collapse.navbar-collapse#collapsable(role="navigation")
  ul.navigation__list.list.nav.navbar-nav
    li.list__item.item
      a.item__refer(href="#") home
    li.list__item.item
      a.item__refer(href="#") about
    li.list__item.item
      a.item__refer(href="#") portfolio
    li.list__item.item
      a.item__refer(href="#") contact