ol.mainContent__breadcrumb.breadcrumb
  li#bcHome.breadcrumb__breadcrumbItem.breadcrumbItem
    a.breadcrumbItem__refer(href="../../") Главная
  li#bcCatalog.breadcrumb__breadcrumbItem.breadcrumbItem
    a.breadcrumbItem__refer(href="../categories-snippet/categories-snippet.html") Каталог
  li#bcCategory.breadcrumb__breadcrumbItem.breadcrumbItem.active {{category}}
    a.breadcrumbItem__refer(href="../categories-snippet/categories-snippet.html")
  li#bcFirm.breadcrumb__breadcrumbItem.breadcrumbItem.active {{firm}}
  li#bcCollection.breadcrumb__breadcrumbItem.breadcrumbItem.active {{collection}}