.breadcrumb {
  @include span(12);
  background-color: transparent;
  text-transform: uppercase;
  font: {
    family: $stackComfortaa;
    size: (20em / 16);
    weight: 700;
  }
  @include breakpoint($sm) {
    font-size: (17em / 16);      
  }
  @include breakpoint($xs) {
    font-size: (15em / 16);      
  }
  @include breakpoint($xxs) {
    font-size: (10em / 16);      
  }
  & .breadcrumb__breadcrumbItem:before {
    content: "\21CB";
    vertical-align: 2px;
    color: lighten($beige, 20%);
    margin: 0 14px;
    @include breakpoint($xxs) {
      margin: 0;
    }
  }
  & .breadcrumb__breadcrumbItem:first-child:before {
    content: "";      
  }
}
.breadcrumb__breadcrumbItem {
  & .breadcrumbItem__refer{
    color: $beige;
    &:hover {
      color: lighten($beige, 20%);      
    }
  }
}
.breadcrumb-firm {
  & .breadcrumbItem__refer{
    color: $maroon;
    &:hover {
      color: lighten($maroon, 20%);      
    }
  }
}
