@import 'about/about.scss';
main > .container {
	padding: 5% 0;
	& .title {
			font: {
			family: $stackInglobal;
			size: (40em / 16);
			weight: bold;
		}
	  color: darken($blue, 15%);
	}
	& .paragraph {
		font-size: (18em / 16);
		margin-top: 40px;
		text-align: justify;
		padding-right: 20%;
	}
}