%darkGrayBg {
	background-color: $darkGray;
}

%whiteBg {
	background-color: $white;
}

%darkWhiteBg {
	background-color: $darkenWhite;
}

%noneBackground {
	background-color: transparent;
}


%responsiveBackground {
  background: center top no-repeat;
  background-size: cover;
}