%onePercentSidePaddings {
	padding-left: 1%;
  	padding-right: 1%;
}
%refusedTopPadding {
	padding-top: 0.5em;
}
%defaultTopPadding {
	padding-top: 1em;
}
%increasedTopPadding {
	padding-top: 1.5em;
}

%defaultBottomPadding {
	padding-bottom: 1em;
}

%extraSmalltBottomPadding {
	padding-bottom: 0.3em;
}

%onePercentSidePaddings {
	padding-left: 1%;
  	padding-right: 1%;
}

%defaultTopBottomPaddings {

} 
%fullBottomPadding {
	padding-bottom: 100%;
}
%sectionPaddings {
	// padding: (60% / 568 * 100) 0;
}