%colorsTransition {
  transition: color 0.5s, background-color 0.5s;
}

%colorsTransitions--props_color-background-transform-shadow {
  transition: color 0.5s, background-color 0.5s, transform 0.1s, box-shadow, 0.5s $i;
}