@font-face {
  font-family: 'Comfortaa';
  font-weight: bold;
  font-style: normal;
  src: url('../fonts/Comfortaa/Comfortaa-Bold.eot');
  src: local('Comfortaa'), url('../fonts/Comfortaa/Comfortaa-Bold.woff') format('woff'), url('../fonts/Comfortaa/Comfortaa-Bold.ttf') format('truetype'), url('../fonts/Comfortaa/Comfortaa-Bold.svg') format('svg');
}
@font-face {
  font-family: 'Comfortaa';
  font-weight: lighter;
  font-style: normal;
    
  src: url('../fonts/Comfortaa/Comfortaa-Light.eot');
  src: local('Comfortaa'), url('../fonts/Comfortaa/Comfortaa-Light.woff') format('woff'), url('../fonts/Comfortaa/Comfortaa-Light.ttf') format('truetype'), url('../fonts/Comfortaa/Comfortaa-Light.svg') format('svg');
}
@font-face {
  font-family: 'Comfortaa';
  font-weight: normal;
  font-style: normal;
  src: url('../fonts/Comfortaa/Comfortaa-Regular.eot');
  src: local('Comfortaa'), url('../fonts/Comfortaa/Comfortaa-Regular.woff') format('woff'), url('../fonts/Comfortaa/Comfortaa-Regular.ttf') format('truetype'), url('../fonts/Comfortaa/Comfortaa-Regular.svg') format('svg');
}
@font-face {
  font-family:'FontAwesome';
  font-weight: normal;
  font-style: normal;
  src: url('../fonts/fontawesome-webfont.eot');
  src: url('../fonts/fontawesome-webfont.eot') format('embedded-opentype'), url('../fonts/fontawesome-webfont.woff2') format('woff2'),url('../fonts/fontawesome-webfont.woff') format('woff'),url('../fonts/fontawesome-webfont.ttf') format('truetype'),url('../fonts/fontawesome-webfont.svg') format('svg');
}

