$lightGray: #ececec;
$darkenLightGray: #e0e0e0;
$darkGray:  #1c1b1b;
$white: #fefeff;
$gray: #9c9c9c;
$shadow: rgba(0, 0, 0, .6);
$darkRed: #6c4040;


// Links 
$baseColorFont: $darkGray;
$baseLinkColor: $gray !important;
$baseHoverLinkColor: $lightGray !important;
$baseHoverLinkBackgroundColor:  #ad966e;
$baseVisitedLinkColor:$darkGray;
$baseActiveLinkColor: $darkGray;
$baseFocusLinkColor: $darkGray;

// Base Body Background
$bodyColorBg: $white;
