/* Grid */
$susy: (
  global-box-sizing: border-box,
  use-custom: (rem: true),
  columns: 12
);
@include border-box-sizing;
/* Fonts */

/* Colors */

/* breakpoints */
$xxs: max-width 460px;
$xs: max-width 769px;
$sm: 769px 991px;
$md: 992px 1199px;
$lg: 1200px;
/* Mixins */
/* Body Custom */
body {
  & * {
    margin: 0;
    padding: 0;
  }
  font: {
    family: $stackGagalin;
    size: 16px;
  }
  line-height: 145%;
  word-break: break-word;
  hyphens: auto;
  -webkit-hyphenate-before: 2;
  -webkit-hyphenate-after: 3;
  hyphenate-lines: 3;
  color: #fff;
}

a {
  @include link-colors(#fff, #fff, #fff, #fff, #fff);
  &:hover {
    text-decoration: none;  
  }
}
