/* Grid */
$susy: (
  global-box-sizing: border-box,
  use-custom: (rem: true),
  columns: 12
);
@include border-box-sizing;
/* Fonts */
$stackComfortaa: 'Comfortaa', cursive;
/* Colors */
$cyan: #76bdff;
$beige: #dfa76e;
$nightBlack: #3f3c39;
$gray: #eee;
$maroon: #952d2c;
$shadow: rgba(0, 0, 0, .9);
$red: rgba(255, 18, 17, .9);
$ghostBlack:  rgba(29, 22, 16, .8);
/* breakpoints */
$xxs: max-width 460px;
$xs: max-width 769px;
$sm: 769px 991px;
$md: 992px 1199px;
$lg: 1200px;
/* Mixins */
/* Body Custom */
html, body {
  min-height: 100%;
}
body {
  & * {
    margin: 0;
    padding: 0;
    outline: 0;
    border: 0;
    text-decoration: none;
  }
  position: relative;
  font: {
    family: $stackComfortaa;
    size: 16px;
  }
  line-height: 145%;
  word-break: break-word;
  hyphens: auto;
  -webkit-hyphenate-before: 2;
  -webkit-hyphenate-after: 3;
  hyphenate-lines: 3;
  color: #fff;
}

a {
  @include link-colors(#fff, #fff, #fff, #fff, #fff);
  &:hover {
    text-decoration: none;  
  }
  &:active {
    text-decoration: none;  
  }
  &:focus {
    text-decoration: none;  
  }
}

.placeholder {
  color: #aaa;
}

// For flexbox.
.flexbox {
  
}
