// Fonts
$mainFont: 'Monsterrat', serif;
$additionalFont:  'Raleway', serif;

// $additionalFont: '', cursive;
$nameFont: 'Raleway';
$normalFont: '../fonts/Raleway/Raleway-Regular';
$boldFont: '../fonts/Raleway/Raleway-Bold';

@font-face {
  font-family: $nameFont;
  font-weight: normal;
  font-style: normal;
  src: url('#{$normalFont}.eot');
  src: local('#{$nameFont}'),
    url('#{$normalFont}.woff') format('woff'),
    url('#{$normalFont}.ttf') format('truetype'),
    url('#{$normalFont}.svg') format('svg');
}
@font-face {
  font-family: $nameFont;
  font-weight: bold;
  font-style: normal;
  src: url('#{$boldFont}.eot');
  src: local('#{$nameFont}'),
    url('#{$boldFont}.woff') format('woff'),
    url('#{$boldFont}.ttf') format('truetype'),
    url('#{$boldFont}.svg') format('svg');
}




// Semantic-ui
@font-face {
  font-family: 'octicons';
  font-weight: normal;
  font-style: normal;
  src: url('octicons.eot');
  src: local('../fonts/octicons-local.ttf'),
    url('../fonts/octicons.woff') format('woff'),
    url('../fonts/octicons.ttf') format('truetype'),
    url('../fonts/octicons.svg') format('svg');
}


$thirdNameFont: 'Montserrat';
$thirdNormalFont: '../fonts/Montserrat/Montserrat-Regular';
$thirdBoldFont: '../fonts/Montserrat/Montserrat-Bold';

@font-face {
  font-family: $thirdNameFont;
  font-weight: normal;
  font-style: normal;
  src: url('#{$thirdNormalFont}.eot');
  src: local('#{$thirdNameFont}'),
    url('#{$thirdNormalFont}.woff') format('woff'),
    url('#{$thirdNormalFont}.ttf') format('truetype'),
    url('#{$thirdNormalFont}.svg') format('svg');
}

@font-face {
  font-family: $thirdNameFont;
  font-weight: bold;
  font-style: normal;
  src: url('#{$thirdBoldFont}.eot');
  src: local('#{$thirdNameFont}'),
    url('#{$thirdBoldFont}.woff') format('woff'),
    url('#{$thirdBoldFont}.ttf') format('truetype'),
    url('#{$thirdBoldFont}.svg') format('svg');
}

// Uncomment, if you need to use font-awsome.


