/**********

  THIRD PARTY

***********/
// Uncomment, if you need "font-awesome"
// @import "font-awesome-sprockets";
// @import "font-awesome";
// @import 'bootstrap';
// @import 'bootstrap-sprockets';
@import "breakpoint";
@import "susy";
// @import "../libs/semantic.min.css";
/**********

  CUSTOM

***********/
// Main files.
@import "../blocks/custom/custom.scss";
@import "../blocks/styles/_header.scss";
@import "../blocks/styles/_footer.scss";
@import "../blocks/styles/_main.scss";