.navContent__logo.logo.navbar-header
  a#logo.navbar-brand(href="index.html")
    h1.logo__name smart<br class="visible_xxs"> tiles     
  button.logo__navButton.navbar-toggle.collapsed(
  type='button',
  data-toggle='collapse', 
  data-target='#collapsable',
  aria-expanded='false'
  )
    span.sr-only Toggle navigation
    span.icon-bar
    span.icon-bar
    span.icon-bar
.clearfix.visible-md.visible-xs