.navbar__logo.logo.navbar-header
  a.logo.navbar-brand(href="#")
    .logo__img
    hgroup
      h1.logo__name      
    button.logo__button.navbar-toggle.collapsed(
    type='button',
    data-toggle='collapse', 
    data-target='#collapsable',
    aria-expanded='false'
    )
      span.sr-only Toggle navigation
      span.icon-bar
      span.icon-bar
      span.icon-bar