| {% extends 'base.html' %}
| {% load blog_filters %}

| {% block title %}
title {{ title }}
| {% endblock %} 

| {% block nav %}
nav.navigaton
	button#openMenuButton.navigation__openMenuButton.visible-xs
		span.sr-only Toggle navigation
		i.fa.fa-bars.fa-2x
	ul.navList#navList
		| {% if title == 'Филипп Журавлёв' or props.article %}
		li.navItem.active
			a.navItem__refer(href="{% url 'index' %}") Блог
		| {% else %}
		li.navItem
			a.navItem__refer(href="{% url 'index' %}") Блог
		| {% endif %}
		| {% if title == 'Контакты' %}
		li.navItem.active
			a.navItem__refer(href="#") Контакты
		| {% else %}
		li.navItem
			a.navItem__refer(href="#") Контакты
		| {% endif %}
		li.navItem
			a.navItem__refer.not-follow(href='http://shining-present.tw1.ru') Портфолио
		| {% if title == 'Обо мне' %}
		li.navItem.active
			a.navItem__refer(href="{% url 'about' %}") Обо мне
		| {% else %}
		li.navItem
			a.navItem__refer(href="{% url 'about' %}") Обо мне	
		| {% endif %}  
		| {% if title == 'Архив' %}
		li.navItem.active
			a.navItem__refer(href='#') Архив
		| {% else %}  
		li.navItem
			a.navItem__refer(href='#') Архив
		| {% endif %}  
| {% endblock %}
| {% block content %}


main#main
	i.fa.fa-spinner.fa-pulse.fa-3x.fa-fw
		span.sr-only Загрузка
  
script.
	window.props = {{props|json}};
	window.react_mount = document.getElementById('main');

script(src='/media/public/components/{{component}}')
| {% endblock %}
