@import "logo/logo.scss";
@import "navigation/navigation.scss";
@import "callBlock/callBlock.scss";
@import "search/search.scss";
.header__navbar {
  background-color: transparent;
  border: 0;
  .navbar__navContent {
    @include breakpoint($xxs) {
      display: flex;
      flex-flow: column nowrap;
    }    
  }
}