$lightGray: #ececec;
$darkenLightGray: #e0e0e0;
$darkGray:  #2e2e2e;
$white: #fefeff;
$black: #080808;
$gray: #9c9c9c;

$shadow: rgba(0, 0, 0, .8);

// 058d71
// $darkRed: #6c4040;
// $green: #17521f;
// $darkGreen: #0f5119;
// $purple: #9d2eb5;
// $darkPurple: #5a1a68;
// $skyBlue: #7be9ea;
// $yellow: #d8c916;


// Links 
$baseColorFont: $black;
$baseLinkColor: $gray $i;
$baseHoverLinkColor: $gray;
$baseHoverLinkBackgroundColor: transparent;
$baseVisitedLinkColor: $black;
$baseActiveLinkColor: $black;
$baseFocusLinkColor: $black;


// Base Body Background
$bodyColorBg: $lightGray;
