// Fonts
$mainFont: 'Raleway', serif
$additionalFont: 'Raleway', serif

// $additionalFont: '', cursive
$nameFont: 'Raleway'
$normalFont: './../fonts/Raleway/Raleway-Regular'
$boldFont: '../fonts/Raleway/Raleway-Bold'

@include font-face('slick', './../fonts/slick')

@include font-face('Raleway', './../fonts/Raleway/Raleway-Regular')
@include font-face('Raleway', './../fonts/Raleway/Raleway-Bold', bold)




// Semantic-ui
// @font-face 
//   font-family: 'octicons'
//   font-weight: normal
//   font-style: normal
//   src: url('octicons.eot')
//   src: local('../fonts/octicons-local.ttf'),
//     url('../fonts/octicons.woff') format('woff'),
//     url('../fonts/octicons.ttf') format('truetype'),
//     url('../fonts/octicons.svg') format('svg')
// 


$thirdNameFont: 'Montserrat'
$thirdNormalFont: './../fonts/Montserrat/Montserrat-Regular'
$thirdBoldFont: './../fonts/Montserrat/Montserrat-Bold'
@include font-face('Montserrat', './../fonts/Montserrat/Montserrat-Regular')
@include font-face('Montserrat', './../fonts/Montserrat/Montserrat-Bold', bold)

